
 <%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date, class: "modelname_due_date" %>
  </div>
  <div class="field complited">
    <%= f.check_box :complited %>
    <%= f.label :complited %><br>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
<script>
	$('#task_due_date').datepicker({ dateFormat: 'dd-mm-yy', minDate: 0  })
</script>
