<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
"data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http:ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js", "application" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%=render 'layouts/shim'%>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <div class="container">
      <%= yield %>
      <%=render 'layouts/footer'%>
    </div>
  </body>
</html>
